<div class="w-full h-36 my-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-row items-center w-full h-full justify-between">
        <img class=" w-auto h-full rounded-md shadow-lg content-center" src="../../assets/images/corei9.jpeg"
            alt="Bonnie image" />

        <div class="flex flex-col w-[45%] h-full justify-center">
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Core i9</h5>
            <span class="text-[13px] text-gray-500 dark:text-gray-400">id : <span
                    class="text-green-600">389uf987jh9cd8ja098j983jr</span></span>
            <span class="text-[13px] text-gray-500 dark:text-gray-400">Price : <span
                    class="text-blue-600">120$/10pc</span></span>
            <span class="text-[13px] text-gray-500 dark:text-gray-400">SMK : <span class="text-blue-600">
                    SMK#892394283798</span></span>
            <span class="text-[13px] text-gray-500 dark:text-gray-400">GEN 2</span>
        </div>

        <div class="flex flex-col justify-evenly p-5 h-full w-[20%]">
            <div class=" w-24 h-auto border-grey-300 border-[1px] flex hover:bg-slate-300 transition-all justify-center p-1 rounded-md">
                <img class="w-5 h-5" src="../../assets/images/editing.png" alt="">
            </div>
            <div class=" w-24 h-auto border-grey-300 border-[1px] flex hover:bg-slate-300 transition-all justify-center p-1 rounded-md">
                <img class="w-5 h-5" src="../../assets/images/search.png" alt="">
            </div>
        </div>
    </div>
</div>